.envrc

# react app
/site/node_modules
/site/.pnp
/site/.pnp.js

# testing
/coverage

# production
site/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/vcs.xml
.idea/inspectionProfiles/
.idea/prettier.xml